@use "./../../sass/Variable.scss" as variable;

.check-box {
  width: 28px;
  height: 28px;
}

.check-box:hover {
  background-image: variable.$linear-gradient;
}

.dropBox {
  & div {
    user-select: none;
    color: white;
  }

  & .check-box{
    display: none;
  }
}
